@page
@model SimpleChatNew.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<html>
<body>
    <h2>Registration</h2>
    <br />
    <form method="post">
        <div asp-validation-summary="All">
            <div>
                <label asp-for="Model.Login">Login</label>
                <input type="text" asp-for="Model.Login" />
                <span asp-validation-for="Model.Login"></span>
            </div>
            <div>
                <label asp-for="Model.Password">Password</label>
                <input asp-for="Model.Password" />
                <span asp-validation-for="Model.Password"></span>
            </div>
            <div>
                <label asp-for="Model.ConfirmPassword">Confirm Password</label>
                <input type="text" asp-for="Model.ConfirmPassword" />
                <span asp-validation-for="Model.ConfirmPassword"></span>
            </div>
            <input type="submit" value="Registration" />
        </div>
    </form>
    <br />
    <a asp-page="Login">Login</a>
</body>
</html>

